.productImage{
    max-width: 33rem;
    max-height: 33rem;
}

.productContainer{
    display: flex;
    justify-content: center;
    max-width: 75rem;
    margin: 10vh auto;
    gap: 10vw;
}

.productData{
    display: flex;
    justify-content: center;
    width: 53rem;
    flex-direction: column;
}

.productName{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgba(44, 26, 10, 1);
}

.productDescription{
    font-size: 1.3rem;
    line-height: 1.5rem;
    max-width: 50rem;
    color: rgba(115, 87, 61, 1);
}

.productPriceName{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(44, 26, 10, 1);
}

.productPrice{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 140, 58, 1);
}

.productpriceContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.productInfo{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.qty{
    font-size: 1.2rem;
    padding: 0.4em;
    max-width: 6rem;
}

.qtyContainer{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.qtyName{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(44, 26, 10, 1);
}

.buttonsContainer{
    display: flex;
    align-items: end;
    gap: 1.5em;
}

.productBuy{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5em;
    width: 100%;
    border: none;
    color: white;
    border-radius: 0.3em;
    background-color: rgba(255, 140, 58, 1);
    font-weight: 500;
}