.reviewcontainer{
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.itemsContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.cartContainerName{
    font-size: 1.4rem;
    color: rgba(44, 26, 10, 1);
}

.clientContainer{
    display: flex;
    justify-content: space-between;
}


.clientDataContainer{
    display: flex;
    flex-direction: column;
    color: rgba(107, 78, 51, 1);
    gap: 1em;
}

.clientDataName{
    font-size: 1.4rem;
    color: rgba(44, 26, 10, 1);
}

.orderSummaryName{
    font-size: 1.4rem;
}
.clientInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.clientContainer{
    flex-direction: column;
    gap: 1em;
}

.editShoppingData{
    cursor: pointer;
    align-self: end;
    color: rgba(255, 140, 58, 1);
}

.orderSummaryContainer{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.orderSummaryItems{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.orderSummaryItem, .orderSummaryTotal{
    display: flex;
    justify-content: space-between;
}

.orderSummaryTotal{
    margin-top: 1em;
}
.orderSummaryTotalName{
    font-size: 1.5rem;
}
.orderSummaryTotalPrice{
    font-weight: 700;
}

.orderSummaryItemName, .orderSummaryItemPrice{
    font-size: 1rem;
    color: rgba(107, 78, 51, 1);
}

.placeOrder{
    cursor: pointer;
    align-self: end;
    padding: 1em 2em;
    font-weight: 600;
    font-size: 1.0rem;
    border-radius: 0.4em;
    color: white;
    background-color: rgba(255, 140, 58, 1);
    border: none;
}

.reviewcontainer{
    border: 0.1em solid rgba(179, 179, 179, 0.63);
    padding: 3.5em;
    border-radius: 1em;
}

.line{
    height: 0.1em;
    background-color: rgba(179, 179, 179, 0.63);
}

.paymentIcon{
    max-width: 2rem;
}

.paymentData{
    display: flex;
    align-items: center;
    gap: 1em;
}