.featuredProduct{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
}

.featuredProductImg{
    max-width: 20rem;
    height: auto;
    border-radius: 1em;
    margin-bottom: 1em;
}

.featuredProductName{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(44, 26, 10, 1);

}
.featuredProductPrice{
    font-size: 1rem;
    color: rgba(107, 78, 51, 1)
}

.viewMore{
    display: none;
}
.featuredProduct:hover{
    .featuredProductImg{
        filter: brightness(60%);
      transition: filter 0.3s ease;

    }
    .viewMore{
        display: block;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50% -50%);
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
    }
    .imageWrap{
        position: relative;
    }
}
