.tableBody,
.tableHeader {
    border-bottom: 0.1em solid rgba(179, 179, 179, 0.63);
        padding: 1em;
    text-align: start;
}

.tableBody {
    text-align: start;
        color: rgba(115, 87, 61, 1);
    font-size: 1rem;
}

.tableBodyDarker {
    color: rgba(44, 26, 10, 1);
    font-weight: 500;
    font-size: 1.1rem;
}

.status {
    padding: 0.8em;
    font-weight: 600;
    font-size: 1.1rem;
    width: fit-content;
    border-radius: 1em;
    cursor: pointer;
}

.detailsImage{
    width: 10rem;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    flex-wrap: wrap;
}

.detailsImageContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.detailsClientDataContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.detailsClientData,.detailsClientDataText, .detailsClientDataName{
    width: fit-content;
}

.detailsClientData{
    display: flex;
    gap: 0.5em;
}