.sectionCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1em solid rgba(179, 179, 179, 0.63);
    border-radius: 0.5em;
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
    padding: 2em
}

.createContainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: auto;
    gap: 3em;
}

.createContainerData{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0.4em;
}
.createHeading{
    font-size: 2rem;
    color: rgba(44, 26, 10, 1);
}

.createText{
    font-size: 1rem;
    color: rgba(115, 87, 61, 1);
}

.inputData{
    border: 0.1em solid rgba(179, 179, 179, 0.63);
    padding: 0.8em;
    margin-bottom: 1em;
    font-size: 1rem;
    border-radius: 0.5em;
}

.inputBigData{
    height: 8rem;
}
.createForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3em;
}

.inputContainerSmall{
    width: 46%;
}
.createBtn{
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 140, 58, 1);
    color: white;
    border-radius: 0.5em;
    width: 100%;
}

.createBtn:hover{
    cursor: pointer;
}