.sectionCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1em solid gray;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
}

.createContainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: auto;
    gap: 3em;
}

.createContainerData{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0.4em;
}
.createHeading{
    font-size: 2rem;
}

.createText{
    font-size: 1rem;
}

.createProductForm{
    padding: 2em;
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.inputData{
    border: 2px solid gray;
    padding: 0.8em;
    margin-bottom: 1em;
    font-size: 1rem;
}

.createForm{
    display: flex;
    flex-direction: column;
}

.createBtn{
    padding: 0.8em;
    font-size: 0.9rem;
    font-weight: bold;
    border: 0.2rem solid gray;
    border-radius: 0.5em;
}

.createBtn:hover{
    cursor: pointer;
}