.navigation{
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: rgba(64, 48, 33, 1);
  border-bottom: 0.2em solid rgba(249, 237, 231, 1);
}

.navInfo{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}

.navName{
  font-size: 1.3rem;
}

.navIcon{
  width: 2rem;
}

.navLinks{
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  gap: 2em;
}

.navButtons{
  display: flex;
  gap: 1em;
}

.navButton{
  width: 2rem;
}

.navButton:hover{
  cursor: pointer;
}