.featuredProducts{
    display: flex;
    justify-content: space-around;
}

.featuredProductsHeading{
    font-size: 2.2rem;
    color: rgba(44, 26, 10, 1);
}

.featuredProductsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}