.featuredProduct{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
}

.featuredProductImg{
    max-width: 20rem;
    height: auto;
    border-radius: 1em;
    margin-bottom: 1em;
}

.featuredProductName{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(44, 26, 10, 1);

}
.featuredProductPrice{
    font-size: 1rem;
    color: rgba(107, 78, 51, 1)

}