.heroSectionContainer {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    top: 30%;
    text-align: start;
    color: white;
    padding-left: 4rem;
}

.banner {
    width: 100%;
    height: auto;
    border-radius: 1em;
    filter: brightness(60%)
}

.heroWrapper {
    position: relative;
}

.heroName {
    font-size: 4rem;
    font-weight: 800;
}

.heroText {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(151, 146, 145);
}

.bannerBtn{
    background-color: rgba(212, 98, 17, 1);
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.6em 1.5em;
    border-radius: 0.3em;
}

.bannerBtn:hover{
    cursor: pointer;
}