.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/mainBanner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    /* цял екран */
    display: flex;
    flex-direction: column;

    height: 100vh;
    cursor: default;
}

.bannerBtn {
    font-size: 2rem;
    padding: 0.3em 2em;
    background-color: rgb(241, 159, 78);
    border: none;
    border-radius: 0.6em;
}

.bannerBtn:hover {
    cursor: pointer;
    color: white;
}

.bannerText {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5rem;
    color: rgb(179, 180, 180);
}

.bannerName {
    margin-bottom: 0;
}