.roastingProcessContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    border-radius: 1em;
}
.roastingProcessName {
    font-size: 2.2rem;
    color: rgba(44, 26, 10, 1);
}

.roastingProcessSteps{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.processStep{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 22rem;
}

.processName{
    font-size: 1.5rem;
    color: rgba(44, 26, 10, 1);
}

.processDesc{
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    color: rgba(107, 78, 51, 1);
}




.iconWrapper {
  position: relative;
  display: inline-block; /* това е ок */
  width: fit-content;    /* важно – така се взема размера на самата иконка */
}

.processImage {
  width: 5em;
  padding: 2em;
  border-radius: 50%;
  background: #fbeee6;
  display: block;
  box-sizing: content-box;
}

.badge {
  position: absolute;
  top: 0em;
  right: 1em;
  background: #e65c00;
  color: white;
  font-size: 0.8em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
